/* About Me */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 1rem 1rem;
}

@media screen and (max-width: 1580px) {
  .about {
    display: flex;
    flex-direction: column;
  }
/* 
  header {
    display: flex;
    flex-direction: column;
  } */
}

@media screen and (max-width: 1280px) {
  /* html {
    min-width: 100%;
  }
  
  #root {
    min-width: 100%;
  } */
  /* Header */
  /* header {
    display: flex;
    flex-direction: column;
  }

  nav button {
    font-size: 1.2rem;
    min-width: 10rem;
  }

  label {
    font-size: 1.5rem;
  }
  
  input, textarea {
    min-width: 20rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  textarea {
    height: 10rem;
  }

  h1 {
    font-size: 4rem;
  }

  body {
    width: 100%;
  }
  
  main {
    width: 110%;
  } */
}

@media screen and (max-width: 768px) {
  /* html {
    min-width: 100%;
  }

  #root {
    min-width: 100%;
  } */
  .main-container {
    width: 100%
  }
/* 
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    margin-left: 1rem;
    margin-bottom: 0rem;
  }
  
  label {
    font-size: 1.5rem;
  }

  input, textarea {
    min-width: 13rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  div.card {
    min-width: 22rem;
  }
  div.card p {
    font-size: 1rem;
    margin: 1rem;
  }

  textarea {
    height: 6rem
  }

  h1 {
    margin-left: 2.5rem;
  }

  h2 {
    margin-bottom: 0;
  }

  body {
    width: 100%;
  }
  
  main {
    min-width: 110%;
  } */

  .main-container .container .image img {
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (max-width: 580px) {
  /* html {
    min-width: 100%;
  }
  
  #root {
    min-width: 100%;
  }
  
  header {
    display: flex;
    flex-direction: column;
  }

  div.card img {

    height: 14rem;
  }

  div.card p {
    font-size: .8rem;
  }

  label {
    font-size: 1.5rem;
  }
  
  input, textarea {
    min-width: 10rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  textarea {
    height: 4rem;
  }

  h1 {
    font-size: 4rem;
  }

  body {
    width: 100%;
  }
  
  main {
    width: 100%;
  } */
}

@media screen and (max-width: 508px) {
  /* html {
    width: 100%;
  }
  
  #root {
    min-width: 100%;
  }
  
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    margin-left: 3.5rem;
    margin-bottom: 0rem;
  } */

  .mb-3 {
    flex-direction: column;
  }

  label {
    margin: .7rem;
  }

  input, textarea {
    min-width: 12rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: .4rem;
  }

  textarea {
    height: 4rem
  }

  .media-icons {
    height: 2rem;
  }

  h1 {
    margin-left: 1rem;
  }

  h2 {
    padding: 0;
    margin-bottom: 2rem;
  }

  body {
    width: 100%;
  }
  
  main {
    width: 100%;
  }
}