.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 1rem 2rem;
}

@media screen and (max-width: 1580px) {
  .about {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    width: 100%
  }

  .main-container .container .image img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
  }

  p {
    margin: 0;
  }

  .about {
    padding: 1rem 0;
  }
}