.mb-3 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  text-align: start;
  padding: 0 6rem;
}

input, textarea {
  width: 70%;
  height: 2rem;
  /* margin-left: 8rem; */
  margin: 0 auto;
  margin-top: 1rem;
  padding-left: 1rem;
  border-radius: 6px;
  background-color: #2f004f;
}

h3, h4 {
  margin-top: 0;
  padding: 0 1rem;
}

h4 {
  margin-bottom: 2.5rem;
}

textarea {
  height: 10rem;
  padding-top: 1rem;
  margin-bottom: .5rem;
}

.toast-container {
  position: relative;
}

.toast {
  font-size: 1rem;
  color: red;
  margin: .5rem 0;
}

.toastS {
  color: green;
}

.toastF, .toastS {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.submitBtn {
  border: 1px solid rgb(196, 88, 250);
  width: 8rem;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 8px black;
}

.submitBtn:hover {
  border: 2px solid var(--headingColor);
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .mb-3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input, textarea {
    width: 90%;
  }
}

@media screen and (max-width: 770px) {
  h4 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 580px) {
  h4.contact-message {
    font-size: 1.4rem;
    text-align: center;
  }

  textarea {
    height: 6rem;
  }
}
