.mb-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: start;
}

label {
  margin: 1rem;
  width: 30%;
}

input, textarea {
  width: 70%;
  height: 2rem;
  margin-left: 8rem;
  margin-top: 1rem;
  padding-left: 1rem;
}

textarea {
  height: 10rem;
  padding-top: 1rem;
  margin-bottom: .5rem;
}

.toast {
  font-size: 1rem;
  color: red;
  margin: .5rem 0;
}

.toastS {
  color: green;
}

.submitBtn {
  border: 1px solid rgba(255, 255, 255, 0.324);
  width: 8rem;
  height: 3rem;
  margin-top: 1rem;
}

.submitBtn:hover {
  border: 1px solid #646cff;
  transition: 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
  .mb-3 {
    flex-direction: column;
  }

  textarea {
    height: 6rem
  }

  label {
    width: 60%;
  }
}

@media screen and (max-width: 580px) {
  label {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  
  input, textarea {
    min-width: 10rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  textarea {
    height: 4rem;
  }
}
