.mb-3 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  text-align: start;
  padding: 0 6rem;
}

label {
  margin: 1rem;
  margin-left: 4rem;
  width: 30%;
  color: rgb(210, 171, 255);
}

input, textarea {
  width: 70%;
  height: 2rem;
  margin-left: 8rem;
  margin-top: 1rem;
  padding-left: 1rem;
  background-color: #2f004f;
}

h3, h4 {
  margin-top: 0;
  padding: 0 1rem;
}

h4 {
  margin-bottom: 2.5rem;
}

textarea {
  height: 10rem;
  padding-top: 1rem;
  margin-bottom: .5rem;
}

.toast {
  font-size: 1rem;
  color: red;
  margin: .5rem 0;
}

.toastS {
  color: green;
}

.submitBtn {
  border: 1px solid rgb(196, 88, 250);
  width: 8rem;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.submitBtn:hover {
  border: 2px solid var(--headingColor);
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 1200px) {

  .mb-3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  textarea {
    height: 6rem;
    width: 100%;
    margin: .7rem 0;
  }
  
  label, input {
    width: 100%;
    margin: .7rem 0;
  }
}

@media screen and (max-width: 768px) {
  h4 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 580px) {
  form {
    width: 100%;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  h4 {
    /* width: 90%; */
    font-size: 1.4rem;
    text-align: center;
    padding: 0 1rem;
  }
  
  input, textarea {
    min-width: 10rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  textarea {
    height: 4rem;
  }
}
