.footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.media-icons {
  display: flex;
  margin-left: 0px;
  max-width: 5rem;
  max-height: 3rem;
  padding: 10px;
  padding-top: 0px;
  margin: 10px;
}

.media-icons:hover {
  transform: scale(1.2);
  transition: 0.4s ease-in-out;
}

span[data-info]:hover::after {
  content: attr(data-info);
  position: absolute;
  left: 95px;
  bottom: 17px;
  min-width: max-content;
  border-radius: 15px;
  background-color: white;
  padding: 12px;
  color: var(--blueColor);
  font-size: 1rem;
  z-index: 1;
  box-shadow: 3px 3px 7px var(--white);
}

span[data-info] {
  position: relative;
  color: var(--white);
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .media-icons {
    max-width: 3rem;
    margin: 5px;
    margin-left: 0px;
    opacity: 70%;
  }
  .footer {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.776);
  }
}

