.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 3rem;
}

.projects img {
  width: 100%;
  height: 15rem;
  margin-bottom: 2rem;
  border-radius: 1rem 1rem 0 0;
}

.main-container a span[data-info]:hover::after {
  bottom: -33px;
  left: -5px;
}

/* .card {} */

.main-container .card p {
  font-size: 1rem;
}

.card-icons {
  margin: 1rem 2rem;
}

.card-icons:hover {
  scale: 1.2;
  transition: 0.4s ease-in-out;
}

/* .icon-container {
  position: relative;
  bottom: 0;
} */

div.card {
  filter: grayscale(80%);
  border: 1px solid rgba(255, 255, 255, 0.276);
  border-radius: 1rem;
  margin: 1rem;
  transition: 0.4s ease-in-out;
  max-width: 26rem;
}

div.card:hover {
  filter: none;
  scale: 1.01;
  box-shadow: 1px 5px 10px #646cff;
  transition: 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
  div.card {
    min-width: 18rem;
    filter: none;
  }

  div.card p {
    font-size: 1rem;
    margin: 1rem;
  }

  div.card img {
    max-height: 20rem;
  }
}

@media screen and (max-width: 580px) {
  .main-container {
    padding: 0;
    max-width: 100%;
  }
  
  .projects {
    max-width: 100%;
    padding: 0;
  }

  div.card {
    max-width: 21rem;
    margin: 1rem 0;
  }

  div.card img {
    max-height: 13rem;
  }
}
