.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
  width: 100%;
}

.projects img {
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
  border-radius: 1rem 1rem 0 0;
}

.main-container a span[data-info]:hover::after {
  bottom: -32px;
  left: -8px;
}

.main-container p {
  font-size: 1.2rem;
}

.card-icons {
  margin: 1rem 2rem;
}

.card-icons:hover {
  scale: 1.2;
  transition: 0.4s ease-in-out;
}

div.card {
  filter: grayscale(80%);
  border: 1px solid rgba(255, 255, 255, 0.276);
  border-radius: 1rem;
  margin: 1rem;
  transition: 0.4s ease-in-out;
}

div.card:hover {
  filter: none;
  box-shadow: 1px 3px 3px #646cff;
  transition: 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
  div.card {
    min-width: 18rem;
    filter: none;
  }

  div.card p {
    font-size: 1rem;
    margin: 1rem;
  }

  div.card img {
    max-height: 20rem;
  }
}

@media screen and (max-width: 580px) {
  .projects {
    max-width: 100%;
  }

  div.card {
    max-width: 15rem;
  }

  div.card img {
    max-height: 13rem;
  }
}
