.resumeBtn {
  border: 1px solid rgb(196, 88, 250);
  width: 16rem;
  height: 3rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.resumeBtn:hover {
  border: 2px solid var(--headingColor);
  transition: 0.2s ease-in-out;
}

.resume {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 4rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
  max-width: 100%;
}

.resumeSections {
  font-size: 1.6rem;
  background-color: rgba(137, 43, 226, 0.322);
  /* background-color: #2f004f; */
  border-radius: 4px;
  margin: 1rem 2rem;
  padding: .5rem;
}

.resumeContent {
  padding: 4rem;
  padding-top: 0;
  font-size: 1.2rem;
}

.resumeList {
  list-style: circle;
  text-align: left;
  
}

.resumeItem {
  padding: 1rem;
  text-align: justify;
}

.acrossBottom {
  text-align: center;
}

h4 {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .resumeSections {
    font-size: 1.3rem;
  }
  
  .resumeContent {
    font-size: 1rem;
    padding: 2rem;
    padding-top: 0;
  }
}

@media screen and (max-width: 1100px) {
  .resume {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(1, 2fr);
    gap: 4rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
    max-width: 100%;
  }
}