.resume img {
  max-width: 90%;
}

.resume img:hover {
  box-shadow: 9px 9px 9px #646cff;
  transition: .4s ease-in-out;
}

.resume {
  margin-bottom: 10rem;
}

h6 {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .resume {
    margin-bottom: 0;
    min-width: 20rem;
    margin-left: 2rem;
  }
}