@import '../utils/colors.scss';

.main-container {
  margin: 0 10%;
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 2rem;
    .content {
      grid-column: 1/4;
      margin-top: 3.4rem;
      margin-right: 3rem;
      h1 {
        font-size: 5rem;
        font-weight: 900;
        color: $headingColor
      }
      p {
        font-size: 1.4rem;
        color: $lightFontColor;
        line-height: 1.9rem;
      }
      .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        button {
          display: flex;
          justify-content: space-between;
          margin:  1rem;
        }
      }
    }
    .image {
      img {
        grid-column: 3/4;
        height: 25rem;
        width: 25rem;
        border-radius: 2rem;
      }
    }
  }
}