@import '../utils/colors.scss';

.main-container {
  margin: 0 10%;
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .content {
      margin-top: 3.4rem;
      margin-right: 3rem;
      h1 {
        font-size: 3rem;
        color: $headingColor
      }
      p {
        font-size: 1.4rem;
        color: $lightFontColor;
        line-height: 1.9rem;
      }
      .button-container {
        display: flex;
        button {
          margin-right: 1rem;
        }
      }
    }
    .image {
      img {
        height: 35rem;
        width: 35rem;
      }
    }
  }
}