@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

:root {
  font-family: 'Raleway', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --light-font-color: #af9cd4;
  --blueColor: #5900ff;
  --pinkColor: #f32a8f;
  --headingColor: rgb(107, 110, 204);
}

html {
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

#root {
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* App  */
h2 {
  font-size: 3rem;
  color: var(--headingColor);
}

button {
  color: white;
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(0, 0, 0, .001);
  cursor: pointer;
  transition: border-color 0.45s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 75vw;
  min-height: 50vh;
  text-align: center;
  font-size: 2rem;
  border-radius: 2rem;
  padding: 3rem;
}

.main-container .container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column-reverse;
  background-color: rgba(0, 0, 0, 0.263);
  border-radius: 2rem;
}

.main-container .container .image img {
  height: 24rem;
  width: 24rem;
  border-radius: 2rem;
}

@media screen and (max-width: 1280px) {
  html {
    min-width: 100%;
  }
  
  #root {
    min-width: 100%;
  }
  /* Header */
  header {
    display: flex;
    flex-direction: column;
  }

  nav button {
    font-size: 1.2rem;
    min-width: 10rem;
  }

  label {
    font-size: 1.5rem;
  }
  
  input, textarea {
    min-width: 20rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  textarea {
    height: 10rem;
  }

  h1 {
    font-size: 4rem;
  }

  body {
    width: 100%;
  }
  
  main {
    width: 110%;
  }
}

@media screen and (max-width: 768px) {
  html {
    min-width: 100%;
  }

  #root {
    min-width: 100%;
  }
  .main-container {
    width: 100%
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    margin-left: 1rem;
    margin-bottom: 0rem;
  }
  
  label {
    font-size: 1.5rem;
  }

  input, textarea {
    min-width: 13rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  div.card {
    min-width: 22rem;
  }
  div.card p {
    font-size: 1rem;
    margin: 1rem;
  }

  textarea {
    height: 6rem
  }

  h1 {
    margin-left: 2.5rem;
  }

  h2 {
    margin-bottom: 0;
  }

  body {
    width: 100%;
  }
  
  main {
    min-width: 110%;
  }

  .main-container .container .image img {
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (max-width: 580px) {
  html {
    min-width: 100%;
  }
  
  #root {
    min-width: 100%;
  }
  
  header {
    display: flex;
    flex-direction: column;
  }

  div.card img {

    height: 14rem;
  }

  div.card p {
    font-size: .8rem;
  }

  label {
    font-size: 1.5rem;
  }
  
  input, textarea {
    min-width: 10rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  textarea {
    height: 4rem;
  }

  h1 {
    font-size: 4rem;
  }

  body {
    width: 100%;
  }
  
  main {
    width: 100%;
  }
}

@media screen and (max-width: 508px) {
  html {
    width: 100%;
  }
  
  #root {
    min-width: 100%;
  }
  
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    margin-left: 3.5rem;
    margin-bottom: 0rem;
  }

  .mb-3 {
    flex-direction: column;
  }

  label {
    margin: .7rem;
  }

  input, textarea {
    min-width: 12rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: .4rem;
  }

  textarea {
    height: 4rem
  }

  .media-icons {
    height: 2rem;
  }

  h1 {
    margin-left: 1rem;
  }

  h2 {
    padding: 0;
    margin-bottom: 2rem;
  }

  body {
    width: 100%;
  }
  
  main {
    width: 100%;
  }
}