@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

:root {
  font-family: 'Raleway', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --light-font-color: #af9cd4;
  --blueColor: #5900ff;
  --pinkColor: #f32a8f;
  --headingColor: rgb(107, 110, 204);
}

html {
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

#root {
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8rem;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.247); */
}

nav ul {
  display: flex;
  flex-direction: row;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.001);
}
nav button {
  min-width: 15rem;
  max-width: 15rem;
  max-height: 4rem;
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul li {
  text-decoration: underline;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.001);
}

h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 900;
  margin-left: 5rem;
  color: var(--blueColor);
  margin-bottom: 0;
}

h2 {
  font-size: 3rem;
  color: var(--headingColor);
}

button {
  color: white;
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(0, 0, 0, .001);
  cursor: pointer;
  transition: border-color 0.45s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main-container {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 75vw;
  min-height: 50vh;
  /* box-shadow: 2px 1px 1px rgba(255, 255, 255, 0.224); */
  text-align: center;
  font-size: 2rem;
  /* background-color: rgba(0, 0, 0, .7); */
  border-radius: 2rem;
  padding: 3rem;
  /* border: 1px solid rgba(255, 255, 255, 0.247); */
}

.main-container .container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column-reverse;
  background-color: rgba(0, 0, 0, .7);
}

.main-container .container .image img {
  height: 24rem;
  width: 24rem;
  border-radius: 2rem;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 1.5;
  font-size: 1.5rem;
}

/* Set flex container for the projects */
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
  width: 100%;
}

.projects img {
  width: 100%;
  height: 22rem;
  margin-bottom: 2rem;
  border-radius: 1rem 1rem 0 0;
}

/* h3 {
  margin-top: 0px;
  margin-bottom: 12px;
} */

/* Project Cards */
.main-container a span[data-info]:hover::after {
  bottom: -32px;
  left: -8px;
}

.main-container p {
  font-size: 1.2rem;
}

.card-icons {
  margin: 1rem 2rem;
}

.card-icons:hover {
  scale: 1.2;
  transition: 0.4s ease-in-out;
}

div.card {
  filter: grayscale(80%);
  border: 1px solid rgba(255, 255, 255, 0.276);
  border-radius: 1rem;
  margin: 1rem;
  transition: 0.4s ease-in-out;
}

div.card:hover {
  filter: none;
  box-shadow: 1px 3px 3px #646cff;
  transition: 0.4s ease-in-out;
}

.resume img {
  max-width: 90%;
}

.footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.mb-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: start;
}

label {
  margin: 1rem;
}

input, textarea {
  min-width: 60%;
  height: 2rem;
  margin-left: 8rem;
  margin-top: 1rem;
  padding-left: 1rem;
}

textarea {
  height: 10rem;
  padding-top: 1rem;
  margin-bottom: .5rem;
}

.toast {
  font-size: 1rem;
  color: red;
  margin: .5rem 0;
}

.toastS {
  color: green;
}

.submitBtn {
  border: 1px solid rgba(255, 255, 255, 0.324);
  width: 8rem;
  height: 3rem;
  margin-top: 1rem;
}

.submitBtn:hover {
  border: 1px solid #646cff;
  transition: 0.4s ease-in-out;
}

.media-icons {
  display: flex;
  margin-left: 0;
}

.media-icons:hover {
  transform: scale(1.2);
  transition: 0.4s ease-in-out;
}

.media-icons .spotify {
  margin-left: 10rem;
}

@media screen and (max-width: 1580px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1280px) {
  html {
    min-width: 100%;
  }
  
  #root {
    min-width: 100%;
  }
  
  header {
    display: flex;
    flex-direction: column;
  }

  nav button {
    font-size: 1.2rem;
    min-width: 10rem;
  }

  label {
    font-size: 1.5rem;
  }
  
  input, textarea {
    min-width: 20rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  textarea {
    height: 10rem;
  }

  h1 {
    font-size: 4rem;
  }

  body {
    width: 100%;
  }
  
  main {
    width: 110%;
  }
}

@media screen and (max-width: 768px) {
  html {
    min-width: 100%;
  }

  #root {
    min-width: 100%;
  }
  .main-container {
    width: 100%
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    margin-left: 1rem;
    margin-bottom: 0rem;
  }
  
  label {
    font-size: 1.5rem;
  }

  input, textarea {
    min-width: 13rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  div.card {
    min-width: 22rem;
  }
  div.card p {
    font-size: 1rem;
    margin: 1rem;
  }

  textarea {
    height: 6rem
  }

  h1 {
    margin-left: 2.5rem;
  }

  h2 {
    margin-bottom: 0;
  }

  body {
    width: 100%;
  }
  
  main {
    min-width: 110%;
  }

  .main-container .container .image img {
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (max-width: 580px) {
  html {
    min-width: 100%;
  }
  
  #root {
    min-width: 100%;
  }
  
  header {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 1.5rem;
  }
  
  input, textarea {
    min-width: 10rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  textarea {
    height: 4rem;
  }

  h1 {
    font-size: 4rem;
  }

  body {
    width: 100%;
  }
  
  main {
    width: 100%;
  }

  .footer {
    flex-direction: row;
  }
}

@media screen and (max-width: 508px) {
  html {
    width: 100%;
  }
  
  #root {
    min-width: 100%;
  }
  
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    margin-left: 3.5rem;
    margin-bottom: 0rem;
  }

  .mb-3 {
    flex-direction: column;
  }

  label {
    margin: .7rem;
  }

  input, textarea {
    min-width: 12rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: .4rem;
  }

  textarea {
    height: 4rem
  }

  .media-icons {
    height: 2rem;
  }

  h1 {
    margin-left: 1rem;
  }

  h2 {
    padding: 0;
    margin-bottom: 2rem;
  }

  body {
    width: 100%;
  }
  
  main {
    width: 100%;
  }
}